<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationDrawer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SuccessfulPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirdScreen"
            android:exported="false" />
        <activity
            android:name=".SecondScreen"
            android:exported="false" />
        <activity
            android:name=".FirstScreen"
            android:exported="false" />
        <activity
            android:name=".ChooseScreen"
            android:exported="false" />
        <activity
            android:name=".owner.activities.SalonDetails"
            android:exported="false" />
        <activity
            android:name=".owner.activities.MySalons"
            android:exported="false" />
        <activity
            android:name=".owner.activities.AddSalon"
            android:exported="false" />
        <activity
            android:name=".owner.activities.AddEmployee"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false">
            <!--                        <intent-filter>-->
            <!--                            <action android:name="android.intent.action.MAIN" />-->
            <!--                            <category android:name="android.intent.category.LAUNCHER" />-->
            <!--                        </intent-filter>-->
        </activity> <!-- employee -->
        <activity
            android:name=".employee.MainEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".employee.login.LoginEmployee"
            android:exported="false" /> <!-- owner -->
        <activity
            android:name=".owner.MainOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".owner.login_register.LoginOwner"
            android:exported="false" />
        <activity
            android:name=".owner.login_register.RegisterOwner"
            android:exported="false" /> <!-- client -->
        <activity
            android:name=".client.login_register.RegisterClient"
            android:exported="false" />
        <activity
            android:name=".client.MainClientActivity"
            android:exported="false" />
        <activity
            android:name=".client.login_register.LoginClient"
            android:exported="false" />
    </application>

</manifest>