<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationDrawer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".owner.activities.SalonStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".employee.CalendarEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".client.appointment.ChooseEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".client.appointment.ChooseDateActivity"
            android:exported="false" />
        <activity
            android:name=".client.appointment.ClientSalonDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".owner.activities.ViewServicesActivity"
            android:exported="false" />
        <activity
            android:name=".owner.activities.ViewAllEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".owner.activities.AddServiceActivity"
            android:exported="false" />
        <activity
            android:name=".owner.activities.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".client.appointment.ChooseCountyActivity"
            android:exported="false" />
        <activity
            android:name=".client.appointment.ChooseServiceActivity"
            android:exported="false" />
        <activity
            android:name=".client.appointment.ChooseDepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".client.appointment.SuccessfulPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".client.appointment.PaymentActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".welcome_activity.ThirdScreen"
            android:exported="false" />
        <activity
            android:name=".welcome_activity.SecondScreen"
            android:exported="false" />
        <activity
            android:name=".welcome_activity.FirstScreen"
            android:exported="false" />
        <activity
            android:name=".welcome_activity.ChooseScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".owner.activities.SalonDetails"
            android:exported="false" />
        <activity
            android:name=".owner.activities.MySalons"
            android:exported="false" />
        <activity
            android:name=".owner.activities.AddSalon"
            android:exported="false" />
        <activity
            android:name=".owner.activities.AddEmployee"
            android:exported="false" />
        <activity
            android:name=".welcome_activity.SplashScreen"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- employee -->
        <activity
            android:name=".employee.MainEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".employee.login.LoginEmployee"
            android:exported="false" /> <!-- owner -->
        <activity
            android:name=".owner.MainOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".owner.login_register.LoginOwner"
            android:exported="false" />
        <activity
            android:name=".owner.login_register.RegisterOwner"
            android:exported="false" /> <!-- client -->
        <activity
            android:name=".client.login_register.RegisterClient"
            android:exported="false" />
        <activity
            android:name=".client.MainClientActivity"
            android:exported="false" />
        <activity
            android:name=".client.login_register.LoginClient"
            android:exported="false" />
    </application>

</manifest>